@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito', sans-serif;
}
.bg-gradient {
  background: linear-gradient(180deg, rgba(77, 83, 255, 0%) 0%, rgba(77, 83, 255, 2%) 100%);
}
.hero .slick-slider {
  max-width: 350px !important;
  margin-top: 10px;
}
.hero .slick-arrow {
  display: none !important;
}
.hero .slick-dots {
  display:  none !important;
}

/* .slick-slide {
  width: 150px !important;
}

.slick-slider .slick-arrow {
  display: none !important;
} */

.testimonials .slick-track {
  padding: 15px !important;
  display: flex;
  gap: 12px;
}

.slick-prev:before, .slick-next:before {
  color: #4D53FF !important;
}
@media (max-width: 700px) {
  .slick-arrow {
    display: none !important;
  }
}

.browseJobs .slick-slider {
  width: 50% !important;
  margin: auto;
}
.browseJobs .slider .slick-list {
padding-bottom: 8px;
}